.dialog {
  padding: 20px;
  background-color: #2e2e2e;
  font-weight: bold;
  color: #ddd;
}

.dialog-content-text {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 20px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #3c3c3c;
}

.file-name {
  font-weight: bold;
  color: #ddd;
}

.file-actions {
  display: flex;
}

.view-button {
  background-color: rgb(24, 170, 109) !important;
  color: white !important;
  text-transform: none !important;
}

.upload-section {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.upload-button {
  border-color: #4caf50 !important;
  color: #4caf50 !important;
}

.upload-button:disabled {
  border-color: #555 !important;
  color: #555 !important;
}

.cancel-button {
  color: #ff5252 !important;
  border-color: #ff5252 !important;
}