.dialog {
  color: #ccc;
  background-color: #2e2e2e;
  padding: 16px !important;
}

.text-field .MuiInputLabel-root {
  color: #ddd;
  &.Mui-focused {
    color: #ddd !important
  }
}

.text-field .MuiOutlinedInput-root {
  fieldset {
    border-color: #444;
  }
  &:hover fieldset {
    border-color: #777;
  }
  &.Mui-focused fieldset {
    border-color: #777;
  }
}

.text-field .MuiInputBase-input {
  color: #ccc;
}


.file-input {
  background-color: #3c3c3c;
  color: #ddd;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
}

.upload-section {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.submit-button {
  background-color: #4caf50 !important;
  color: #fff !important;
}

.cancel-button {
  border-color: #ff5252 !important;
  color: #ff5252 !important;
}
